@model ML.Usuario
@{
	ViewData["Title"] = "Recuperar Password";
	Layout = null;
}

<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/estilos.css">
</head>
<div class="form-structor">
	@using (Html.BeginForm("NewPassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="signup">
			<h2 class="text-align:center" id="signup">Ingresa tu Nueva Contraseña</h2>

			<div class="form-holder">
				@Html.TextBoxFor(model => model.Correo, new { @class = "form-control", @id = "txtNombre"})
				<input type="password" class="input" placeholder="Contraseña" name="Password1" />
				<input type="password" class="input" placeholder="Escribe de nuevo tu contraseña" name="Password2" />
			</div>
			<button class="submit-btn">Cambiar</button>
		</div>
	}
</div>