@model ML.Usuario
@{
	ViewData["Title"] = "Recuperar Password";
	Layout = null;
}

<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/css/estilos.css">
</head>
<div class="form-structor">
	@using (Html.BeginForm("RecuperarPassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="signup">
			<h2 class="text-align:center" id="signup">Recupera tu contraseña</h2>

			<div class="form-holder">
				<input type="email" class="input" placeholder="Correo" name="Correo" />
			</div>
			<button class="submit-btn">Ingresar</button>
		</div>
	}
</div>